# /etc/pam.d/common-password configuration
# PAM password configuration

password	requisite			pam_pwquality.so try_first_pass retry=3 authtok_type=
password	[success=1 default=ignore]	pam_unix.so obscure sha512 {{ 'rounds=5000' if ansible_lsb.major_release|int >= 18 else '' }}
password	requisite			pam_deny.so
password	required			pam_permit.so
password	optional			pam_gnome_keyring.so
password	optional			pam_ecryptfs.so
