***************************************************************************
                            AUTHORIZED ACCESS ONLY
***************************************************************************
This system is for authorized users only. Individual use of this system
and/or network without authority, or in excess of your authority, is
strictly prohibited. Unauthorized access is a violation of state and
federal, civil and criminal laws.
All system activity is monitored and logged.
***************************************************************************
